@import url('fonts.css');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Color+Emoji&display=swap');

* {font-family: 'Open Sans', sans-serif; box-sizing: border-box; -webkit-hyphens: auto; -ms-hyphens: auto; hyphens: auto;}

head, body {width: 100%; height: 100%; margin: 0; padding: 0; overflow: hidden;}

/* Link */
a {
    color: #0F0F0F;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
}

.cambia_mese {
	border-radius: 50%;
	padding: 5px;
	text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    transition: 0.3s;
}

.tabel {overflow: hidden;}

.cambia_mese:hover{ 
	background-color: rgba(237, 237, 237, 0.2);
}
.cambia_mese:active {
  background-color: rgba(237, 237, 237, 0.6);
  transition: 0.2s;
}

/* Cella di quest'oggi */
.oggi {
	background-color: #fbffa8;
  color: #000000;
}

table {
  border-collapse: collapse;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 40px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  direction: ltr;
}

td, th {
  border: 1px solid #000000;
  width: 14%;
  min-width: 20px;
  max-width: 65px;
  min-height: 150px;
}

/* Celle dei mesi precedenti e successivi */
td.extra_day {
  background-color: #f0f0f0;
}

.mese {
  font-size: 22px;
  border: none;
  background-color: transparent;
  height: 70px;
}

/* Celle di intestazione della tabella */
th {
  background-color: #FFF;
  color: #044B76;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  height: 40px;
}
td {
  height: 80px;
  max-height: 80px;
  padding: 1px;
  justify-content: center;
  vertical-align: top;
}

.nota a {color: #000; cursor: help;}
.nota {
  height: auto;
  width: 100%;
  border-radius: 5px;
  text-align: left;
  padding: 4px;
  line-height: 17px;
  word-spacing: 1px;
  letter-spacing: 0.5px;
  font-family: 'Hind Siliguri', sans-serif;
  font-size: 15px;
  background-color: #FFF;
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
  position: relative;
  top: 5px;
  margin-bottom: 10px;
  padding-bottom: 10px;
  color: #000;
  border: 1px solid #0f0f0f;
  overflow: hidden;
  word-break: break-all;
  transition: 0.4s;
}
.nota .title {font-weight: 700; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.nota .info_nota {overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.nota:hover {box-shadow: 2px 3px 4px #2b2b2b;}

.multipla {box-shadow: 2px 3px 0 #000000; height: 90px; padding: 10px;}
.multipla:hover {box-shadow: 4px 6px 0 #000000;}

/* Numero del giorno in alto a destra di ogni cella */
.data {
  float: right;
  text-align: right;
  padding-right: 8px;
  padding-top: 3px;
  height: 15px;
  width: 100%;
}


/* --------------------------------------------
evento.php
-------------------------------------------- */


.titolo {
    text-align: center;
    font-size: 40px;
    letter-spacing: 6px;
    margin-bottom: -5px;
    margin-top: 0;
    font-family: 'Permanent Marker', cursive;
}

.titolo, .descrizione {
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    overflow: hidden;
}

.informazioni {
    width: 95%;
    max-width: 600px;
    min-width: 250px;
    padding: 20px 30px 5px 30px;
    margin-top: 90px;
    margin-left: 10px;
    background-color: #ffffcc;
    box-shadow: 5px 5px 7px rgba(33,33,33,0.7);
    font-family: 'Caveat', Noto Color Emoji, cursive !important;
    font-size: 24px;
    letter-spacing: 2px;
    color: #000000;
    float: left;
    transform: rotate(-1.5deg);
    -webkit-transform: rotate(-1.5deg);
    -o-transform: rotate(-1.5deg);
    -moz-transform:rotate(-1.5deg);
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
  }

  .informazioni b, .informazioni p, .informazioni a {
    font-family: 'Caveat', Noto Color Emoji, cursive;
    font-size: 24px;
  }
  
  .informazioni .material-icons {
    font-size: 24px !important;
    line-height: 1.8 !important;
  }

  /* Header per pulsante Indietro */
  header {width: 100%; padding: 16px; background-color: rgba(233, 227, 227, 0.6); backdrop-filter: blur(10px); position: fixed; left: 0; top: 0; z-index: 5;}
  header a {padding: 6px; border-radius: 50%; transition: background 0.2s;}
  header a:hover {background-color: #eee;}

  /* Locandina come immagine di sfondo */
  #locandina {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    filter: blur(2px);
    -webkit-filter: blur(2px);
    display: none;
  }
  /* Bottone per prenotare evento dalla nota del calendario */
  .prenotaBtn {
      text-align: center;
      cursor: pointer;
      border: none;
      width: 100%;
      height: 60px;
      font-size: 22px;
      background-color: #34d0d1;
      padding-left: 10px;
      padding-right: 10px;
      padding-top: 5px;
      padding-bottom: 5px;
      margin-bottom: 30px;
      margin-top: 30px;
      user-select: none;
      transition: 0.2s;
    }
    .prenotaBtn:hover {
      background-color: #27aaaa;
      color: white;
    }
    .prenotaBtn::after {
      content: '\203A';
      font-size: 20px;
      padding-left: 10px;
    }
    .prenotaBtn:hover::after {
      content: '\2192';
    }
  
    .info {position: fixed; bottom: 20px; right: 20px; cursor: pointer;}
    #credits {position: fixed; right: 30px; bottom: 60px; color: black; background-color: rgba(255, 255, 255, 0.8); padding: 10px; border-radius: 6px; box-shadow: 0 0 10px #0f0f0f;}
    #credits a {color: black; text-decoration: underline !important;}

    /* --------------------------------------------
    Tema scuro
    -------------------------------------------- */

    @media (prefers-color-scheme: dark) {
        html, body {background-color: #121212; color: #ffffff;}
        a {color: #fff;}
        .material-icons, .nota a {color: #fff;}
        th, td {border: 1px solid #F0F0F0; background-color: transparent;}
        th {color: #73add1;}
        td.extra_day {background-color: rgba(255, 255, 255, 0.2);}
        .nota {color: white; background-color: #333333;}

        header {background-color: rgba(69, 69, 69, 0.1);}
        header a:hover {background-color: #454545;}
        .informazioni {background-color: #a38100; color: #FFF;}
        .titolo {text-shadow: 0 0 5px black;}
    }