<Files ~ ".log">
Order allow,deny
Deny from all
Satisfy All
</Files>
<Files ~ ".pdf">
Order allow,deny
Deny from all
Satisfy All
</Files>
<Files ~ ".docx">
Order allow,deny
Deny from all
Satisfy All
</Files>
<Files ~ ".txt">
Order allow,deny
Deny from all
Satisfy All
</Files>
<Files ~ ".md">
Order allow,deny
Deny from all
Satisfy All
</Files>
<Files ~ ".png">
Order allow,deny
Allow from all
Satisfy All
</Files>

ErrorDocument 404 /planner-main/settings/error/404.html
ErrorDocument 403 /planner-main/settings/error/403.html

<IfModule mod_headers.c>
Header set X-XSS-Protection "1; mode = block"
Header always append X-Frame-Options SAMEORIGIN
Header set X-Content-Type-Options nosniff
Header set Strict-Transport-Security "max-age=31536000"
</IfModule>
