/* Far sparire frecce dell'input type number */

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* Pulsanti di invio e reset */

input[type=submit] {
  background-color: #29b429;
  color: #ffffff;
}

input[type=submit]:focus, input[type=submit]:active, input[type=submit]:hover {
  border: none;
  background-color: #208f20;
}

input[type=reset] {
  color: red;
  background-color: #ffffff;
}

input[type=reset]:focus, input[type=reset]:active, input[type=reset]:hover {
  background-color: red;
  color: #ffffff;
}

input[type=submit], input[type=reset] {
  cursor: pointer;
  border: none;
  transition: 0.4s;
  font-size: 18px;
  width: 160px;
  margin-top: 30px;
  padding: 5px;
}

/* Area di upload della locandina */

.main_container {display: flex;}

.right_content, .left_content {
	width: 50%;
	height: 100%;
}
@media only screen and (max-width: 860px) {
	.main_container{display:block !important; }
  }
.right_content {padding-top: 60px;}
.left_content {}

/* Pulsante per creare locandine con Canva */

.canvaBtn {
	margin-top: 30px;
	font-size: 16px;
	color: #000; 
	background-color: #f0f0f0; 
	background-image: none;
	padding-top: 16px; 
	padding-bottom: 16px; 
	padding-left: 10px; 
	padding-right: 10px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	transition: background 0.3s;
	min-width:250px;
}

.canvaBtn:hover {
	background-color: #04BFCD;
	background-image: linear-gradient(to bottom right, #04BFCD, #7D2AE7);
	color: #ffffff;
}

.canvaBtn:hover img {filter: brightness(156999999999999990000%);}

#canvaHelp {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	overflow: auto;
	background-color: #ffffff;
	color: #000;
	padding: 20px;
}

#canvaHelp ol li {
	margin-top: 10px;
	margin-bottom: 10px;
}

#canvaHelp ol li a {text-decoration: underline; color: inherit;}

#canvaHelp ol img {
	margin-bottom: 10px;
	margin-top: 10px;
	width: 683px;
}

  /* Autocompletamento dei luoghi */

  /*the container must be positioned relative:*/
.autocomplete {
    position: relative;
    display: inline-block;
  }
  
  .autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    color: black;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
  }
  
  .autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff; 
    border-bottom: 1px solid #d4d4d4; 
  }
  
  /*when hovering an item:*/
  .autocomplete-items div:hover {
    background-color: #e9e9e9; 
  }
  
  /*when navigating through the items using the arrow keys:*/
  .autocomplete-active {
    background-color: DodgerBlue !important; 
    color: #ffffff; 
  }

  
		/* Drag & Drop */
    .drop-zone {
		  max-width: 1200px;
		  width: 60%;
		  height: 200px;
		  padding: 25px;
		  display: flex;
		  align-items: center;
		  justify-content: center;
		  text-align: center;
		  font-family: "Quicksand", sans-serif;
		  font-weight: 500;
		  font-size: 22px;
		  cursor: pointer;
		  color: #ffffff;
		  border: 4px dashed #ffffff;
		  border-radius: 10px;
		  transition: 0.2s;
		  min-width:250px;
		}
		
		.drop-zone:hover {
			background-color: rgba(255,255,255,0.1);
		}

		.drop-zone--over {
		  border-style: solid;
		}

		.drop-zone__input {
		  display: none;
		}

		.drop-zone__thumb {
		  width: 200px;
		  height: 100%;
		  border-radius: 10px;
		  overflow: hidden;
		  background-color: transparent;
		  background-size: auto 80%;
		  background-repeat: no-repeat;
		  background-position-x: 50%;
		  position: relative;
		}

		.drop-zone__thumb::after {
		  content: attr(data-label);
		  position: absolute;
		  bottom: 0;
		  left: 0;
		  width: 100%;
		  padding: 5px 0;
		  color: #ffffff;
		  background: rgba(0, 0, 0, 0.75);
		  font-size: 14px;
		  text-align: center;
		}
		
		.drop-zone__prompt__accepted_filetype {
			font-size: 16px;
			color: #cccccc;
		}
